[submodule "service-mqtt-broker"]
	path = service-mqtt-broker
	url = https://github.com/gotoiot/service-mqtt-broker.git
[submodule "web-mqtt-client"]
	path = web-mqtt-client
	url = https://github.com/gotoiot/web-mqtt-client.git
